<ul>
    <li *ngFor="let node of nodes">
        <div class="node" [class.deleted]="node.is_deleted">
      <span *ngIf="node.children.length" (click)="toggle(node)">
        {{ isExpanded(node) ? '↑' : '↓' }}
      </span>
            <ng-container [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{ $implicit: node }"></ng-container>
        </div>
        <app-tree *ngIf="isExpanded(node)" [nodes]="node.children" [template]="template" [expandedNodes]="expandedNodes"></app-tree>
    </li>
</ul>
